body {
    color: #333;
}
main.main-content {
    margin-top: 130px;  
}
/*FAIXA TOPO*/
.topo {
    background: #fff;
    width: 100%;
    float: left;
    height: 22px;
    padding: 0;
    font-size: 12px;
    color: #003;
    margin-bottom: 10px;
}
.topo a {
    font-size: 14px;
    color: #333;
    text-decoration: none;
    padding: 0 5px;
}
.topo p {
    margin: 0;
    letter-spacing: 0.5px;
}
.topo .tel {
    padding: 4px 0 7px 0;
}
.topo .redes-topo {
    padding: 0 0 4px 0;
    text-align: center
}
.topo .redes-topo i {
    margin: 0;
    font-size: 16px;
    padding: 6px 0;
    text-align: center;
}


.comentarios-google{
    float: left;
    width: 100%;
}
.comentarios-google h2 {
    text-align: center;
    font-size: 40px;
}
.comentarios-google .comentarios {
    float: left;
    width: 100%;
}
.comentarios-google .comentarios .comentario {
    border: 1px solid #ffefef;
    padding: 0 20px;
    height: 180px;
}
.comentarios-google .comentarios .comentario i.fas.fa-star {
    color: #fbbc05;
}
.comentarios-google .comentarios .comentario p {
    font-size: 14px;
}

/*FIM FAIXA TOPO*/
/*INICIO CONTATO HEADER*/
.logo-info-contato {
    float: left;
    width: 100%;
    padding-top: 5px;
}
.contato-header {
    float: left;
    width: 100%;
    margin-top: 28px;
}
.contato-header .icone {
    float: left;
    width: 100%;
}
.contato-header .icone {
    float: left;
    width: 100%;
}
.contato-header .icone p {
    font-size: 13px;
    margin: 7px 0;
    font-weight: bold;
    line-height: 21px;
    color: #d29438;
}
.contato-header .icone p a {
    color: #d29438;
}
.contato-header .icone img {
    float: left;
    padding: 0 16px 0 0;

}
/*FIM CONTATO HEADER*/

/*INICIO HEADER*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #ffefef;
    z-index: 1000;
    margin: 0 auto 10px 0;
    box-shadow: 0 1px 13px 2px #7d7d7d17;
}
header .logo {
    float:left;
    margin:3px 0
}
header .logo a {
    display:block;
    text-decoration:none
}
/* FIM HEADER */
.atendimento-home h2 {
    font-size: 30px;
    color: #d29438;
}
.clientes .info {
    color: #d49941;
    width: 20%;
    float: left;
    text-align: center;
}
.clientes .info p {
    padding: 0px 5px;
}
/* INICIO MENU */
.menu {
    margin-top: 5px;
    text-align: center;
    background: #fff;
    margin-bottom: -17px;
    border: 1px solid #d29438;
}
.menu-list {
    padding:0;
    margin:0
}
.menu .menu-list,.menu .sub-menu {
    list-style:none
}
.menu a {
    color: #d29438;
    text-decoration:none;
    display:block;
    cursor:pointer
}
.menu > .menu-list > li {
    display:inline;
    position:relative;
    margin: 0px 20px;
}
.menu > .menu-list > li > a {
    display:inline-block;
    padding:10px 20px;
    margin:0;
    font-weight: bold; 
    transition: all 0.5s; 
}
.menu > .menu-list > li:hover > a {
    color: #b3b3b3;
    border-radius: 5px;
    transition: all 0.5s;
}
.menu > .menu-list > li:hover > .sub-menu {
    display:block
}
.menu > .menu-list > li > .sub-menu {
    position: absolute;
    left: -65px;
    min-width: 270px;
    z-index: 100;
    display: none;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 13px;
}
.menu > .menu-list > li > .sub-menu > li > a {
    padding: 8px;
    background: #003;
    border:1px solid #082840;
}
.menu > .menu-list > li > .sub-menu > li:hover > a {
    background:#b3b3b3
}
/*INICIO ENTRE EM CONTATO HOME*/
.entre-em-contato {
    float: left;
    width: 100%;
    background: #408cff;
    margin-top: 10px;
}
.entre-em-contato p {
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    float: left;
}
.entre-em-contato a {
    font-size: 60px;
    margin-right: 80px;
    color: #ffffff;
    float: right;
}
/*FIM ENTRE EM CONTATO HOME*/
/* Menu Mobile */
.slicknav_btn {
    background-color:#ffefef
}
.slicknav_menu {
    background-color:#ffefef
}
.slicknav_menu .slicknav_menutxt {
    color: #d49941 !important;
}
.slicknav_nav a {
    color: #d49941 !important;
}
.slicknav_menu .slicknav_icon-bar {
    background-color: #d49941 !important;
}
.slicknav_brand a {
    color:#d49941;
    font-size:14px;
    display:block;
    padding:0px 5px;
    font-weight:bold
}
.slicknav_brand a:active, .slicknav_brand a:hover, .slicknav_brand a:focus {
    text-decoration:none
}
/*INICIO SERVÇOS HOME*/
.servicos {
    float: left;
    width: 100%;
    background: #fff;
}
/*FIM SERVÇOS HOME*/

/* Rodapé */
footer {
    padding: 30px 15px 0 15px;
    background-color:#ffefef;
    color:#d49941;
    margin-top:0;
    float: left;
    width: 100%;
}
footer h5 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
footer ul {
    list-style-type:none;
    padding:0px
}
footer p {
    font-size: 14px;
    letter-spacing: 0.6px;
    color: #d49941;
    margin: 5px 0;
    line-height: 20px;
}
footer li {
    font-size: 15px;
    letter-spacing: 0.6px;
    line-height: 22px;
}
footer a {
    text-decoration: none !important;
    color: #d49941;
    text-transform: none;
}
footer iframe {
    border: none;
    width: 100%;
    float: left;
    height: 180px;
}
footer .footer-copyright {
    padding:30px 0 5px 0;
}
footer .footer-copyright a {
    text-decoration:none;
}
footer .ass-q {
    text-align:right;
    font-size:14px;
    margin:0
}
footer .text-right {
    margin-top: 10px;
}
footer hr {
    margin-bottom: 0;
}
footer .logo p {
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 20px;
    color: #d49941;
    padding: 0 25px;
}
footer .footer-copyright p.desenvolvido {
    margin: 0 20px;
    padding-bottom: 0;
    line-height: 4;
}
/* DESENVOLVIDO POR ABSOLUT SBO */
footer .footer-copyright p.absolutsbo {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 13px;
    letter-spacing: 0.5px
}
footer .footer-copyright p.absolutsbo strong {
    color:#ff5726;
}
.baixa-absolut {
    border: 1px solid #ff5726;
    width: 40px;
    margin: 13px auto 5px auto;
    border-radius: 25px
}
/* FIM DESENVOLVIDO POR ABSOLUT SBO */
/* BOTÕES LATERAL/FIXO */
.btn-fixo a {
    position: fixed;
    right:0;
    align-items: center;
    text-decoration: none;
    transition: 0.3s all ease;
    box-shadow: -1px 2px 3px 1px #888888b0;
    font-size: 28px;
    border-radius: 5px 0 0 5px;
    background: #fff;
    z-index: 100000
}
.btn-fixo a.btn-telephone i {
    color:#000;
}
.btn-fixo a.btn-whatsapp i {
    color:#25d366;
}
.btn-fixo a.btn-mail i {
    color:#e43434;
}
a.btn-telephone {
    top: 180px;
    padding: 11px 12px;
    transition: 0.6s all;
}
a.btn-whatsapp {
    top: 260px;
    transition: 0.6s all;
    padding: 9px 12.3px;
    font-size: 31px
}
a.btn-mail {
    top: 340px;
    transition: 0.6s all;
    padding: 11px 12px;
}
/* Main */
main h2 {
    font-size:22px
}
main.main-content p strong {
    font-weight:normal
}
.comentarios .col-md-12 {
    display: none;
}
.clientes .info img {
        width: 40%;
    }
/* Ajustes Mobile */
@media screen and (max-width: 40em) {
    .topo {
        display: none;
    }
    .container.header-container-main {
        display: none;
    }
    .theme-default-nivo-slider .nivo-caption a.btn-whatsapp-home, .theme-default-nivo-slider .nivo-caption a.btn-home {
        display:none
    }
    .clientes .info p {
        padding: 0px 5px;
        font-size: 12px;
    }
    .clientes .info img {
        width: 60%;
    }
    .comentarios .autoplay {
        display: none;
    }
    .comentarios .col-md-12 {
    display: block;
}
}
@media screen and (max-width: 768px) {
    .menu > .menu-list > li {
        margin: 0px 9px;
    }
    .menu {
        margin-top: 119px;
        height: 41px;
    }
}