.banner-home {
    float: left;
    width: 100%;
    margin-top: -34px;
}
main.main-content .banner-home h1 {
    padding-bottom: 11px;
    margin: 13px 0 0 0;
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 1px
}
main.main-content .banner-home h2 {
	font-size: 45px;
	padding-bottom: 11px;
    margin: 13px 0 0 0;
    text-transform: uppercase;
    letter-spacing: 1px
}
.sessao-banner {
    float: left;
    width: 100%;
    background: #ffefef;
    text-align: center;
    height: 200px;
}
main.main-content .sessao-banner h1 {
    padding-bottom: 11px;
    margin: 13px 0 0 0;
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #d29438;
}
.sessao-banner a.btn-home {
    background: #d29438;
    padding: 6px 10px;
    color: #fff;
    text-transform: none;
    text-decoration: none;
    border-radius: 8px;
}
.sessao-banner a.btn-whatsapp-home {
    background: #25d366;
    padding: 6px 10px;
    border-radius: 8px;
    color: #fff;
    text-transform: none;
    text-decoration: none;
}
main.main-content .sessao-banner h2 {
    font-size: 45px;
    padding-bottom: 11px;
    margin: 13px 0 0 0;
    text-transform: uppercase;
    letter-spacing: 1px
}
.theme-default-nivo-slider .nivo-caption a.btn-home {
	background: #003;
	padding: 14px 25px;
	margin: 30px 30px 0 0;
	border-radius:5px;
	letter-spacing: 0.3px;
	font-size: 16px;
	text-transform: uppercase;
}
.theme-default-nivo-slider .nivo-caption a.btn-whatsapp-home {
	background: #7bd86f;
	padding: 12px 25px;
	margin: 30px 30px 0 0;
	border-radius:5px;
	letter-spacing: 0.3px;
	font-size: 18px;
}
.theme-default-nivo-slider .nivo-caption a.btn-whatsapp-home i {
	font-size: 18px;
	padding-right: 5px
}
.nivo-caption img {
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0);
}
/* FIM BANNER HOME */

/* ATENDIMENTO HOME */
.atendimento-home {
  width: 100%;
  float: left;
  padding-top: 40px;
  padding-bottom: 40px;
}
.atendimento-home i {
    font-size: 55px;
    color: #003;
    margin-top: 20px;
}
/* FIM ATENDIMENTO HOME */

/*INICIO SOBRE NOS*/
.sobre-nos {
    float: left;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #0a0a0a0a;
}
.sobre-nos h2 {
	text-align: center;
    font-size: 34px;
    margin-bottom: 8px;
    color: #003;
}
.sobre-nos h3 {
    font-size: 22px;
    text-align: center;
}
.sobre-nos p {
    text-align: center;
    letter-spacing: 0.6px;
}
.sobre-nos hr {
    border-top:2px solid #2d8ac8;
    width: 10%;
    margin-top: 0;
    margin-bottom: 40px;
}
/*FIM SOBRE NOS*/

.col-xs-12.col-sm-4.col-md-4.col-lg-4 {
    padding: 0;
}
.sobre-nos .content {
  position: relative;
  width: 100%;
  max-width: 402px;
  margin: auto;
  overflow: hidden;
  padding-top: 20px;
}
.sobre-nos .content .content-overlay {
  background: rgb(255 255 255 / 75%);
    position: absolute;
    height: 90%;
    width: 96%;
    left: 8px;
    top: 26px;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 0;
}
.sobre-nos .content:hover .content-overlay {
  opacity: 1;
}
.sobre-nos .content-image {
	width: 100%;
  	height: 300px;
}
.sobre-nos .content-details {
  position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.sobre-nos .content:hover .content-details {
  top: 54%;
  left: 50%;
  opacity: 1;
}
.sobre-nos .content-details h3 {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.sobre-nos .content-details p {
	color: #333;
    font-size: 16px;
    line-height: 24px;
    margin: 25px 0;
}
.sobre-nos .content-details p.btn-content {
    background: #003;
    width: 35%;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
}
.sobre-nos .fadeIn-bottom{
  top: 80%;
}
.sobre-nos .fadeIn-top{
  top: 20%;
}
.sobre-nos .fadeIn-left{
  left: 20%;
}
.sobre-nos .fadeIn-right{
  left: 80%;
}
/* FIM CLIENTES */

/*INICIO CONTADOR HOME*/
.contador-home {
    float: left;
    width: 100%;
    height: 190px;
    text-align: center;
    color: #fff;
    margin-top: 0;
    background:url(imagens/cozinha.jpg);
}
.contador-home h3 {
    font-size: 38px;
}
.contador-home p {
    font-size: 20px;
    letter-spacing: 0.8px;
}
/*FIM CONTADOR HOME*/

/*INICIO INFORMACOES HOME*/
.informacoes-home{
    float: left;
    width: 100%;
    padding: 40px 0px;
}
.informacoes-home h2 {
	text-align: center;
    font-size: 34px;
    margin-bottom: 8px;
    color: #003;
}
.informacoes-home hr {
    border-top:2px solid #2d8ac8;
    width: 10%;
    margin-top: 0;
    margin-bottom: 40px;
}
.informacoes-home .info .titulo{
   float: left;
   width: 100%;
}
.informacoes-home .info .descricao {
    float: left;
    width: 100%;
    color: #757575;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.6px;
}
.informacoes-home .info .titulo h4 {
    margin-top: 8px;
    color: #408cff;
}
/* FIM INFORMACOES HOME */

/* Nossos Serviços de Assistência Técnica Especializada */
.informacoes-home br {
	width: 100%;
	height: 100px
}
.informacoes-home .content {
  position: relative;
  width: 100%;
  height: 200px;
  max-width: 402px;
  margin: auto;
  overflow: hidden;
  padding-top: 20px;
}
.informacoes-home .content img {
	border-radius: 5px;
    border: 1px solid #003;
}
.informacoes-home .content .content-overlay {
	background:rgb(0 0 51 / 46%);
    position: absolute;
    height: 88%;
    width: 100%;
    left: 0;
    top: 20px;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 5px;
}
.informacoes-home .content:hover .content-overlay {
  opacity: 1;
}
.informacoes-home .content-image {
	width: 100%;
  	height: 300px;
}
.informacoes-home .content-details {
  position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.informacoes-home .content:hover .content-details {
  top: 54%;
  left: 50%;
  opacity: 1;
}
.informacoes-home .content-details h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.informacoes-home .content-details p {
	color: #333;
    font-size: 16px;
    line-height: 24px;
    margin: 25px 0;
}
.informacoes-home .content-details p.btn-content {
    background: #003;
    width: 35%;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
}
.informacoes-home .fadeIn-bottom {
  top: 80%;
}
.informacoes-home .fadeIn-top {
  top: 20%;
}
.informacoes-home .fadeIn-left {
  left: 20%;
}
.informacoes-home .fadeIn-right {
  left: 80%;
}
/* FIM Nossos Serviços de Assistência Técnica Especializada */

/* INICIO CLIENTES */
.clientes {
    float: left;
    width: 100%;
    background: #fff;
    margin-top: 30px;
    margin-bottom: 0;
    padding-top: 25px;
    color: #003;
    box-shadow: 0 2px 15px 0 #c1c1c1;
}
.clientes .lista-clientes {
    float: left;
    width: 100%;
}
.clientes .lista-clientes img {
    padding: 0px 10px;
}
.clientes .titulo h2 {
    font-size: 43px;
    text-align: center;
    margin-bottom: 12px;
}
.clientes .titulo hr {
    border-top:2px solid #2d8ac8;
    width: 10%;
    margin-top: 0;
    margin-bottom: 40px;
}
.clientes .descricao p {
    text-align: center;
}
/* FIM CLIENTES */

@media screen and (max-width: 40em) {
  main.main-content {
    margin-top: 41px;
  }
  main.main-content .banner-home h1 {
    padding-bottom: 11px;
    margin: 0;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 0;
  }

  .sessao-banner {
    float: left;
    width: 100%;
    background: #ffefef;
    text-align: left;
    height: 200px;
}
main.main-content .sessao-banner h1 {
    padding-bottom: 11px;
    margin: 13px 0 0 0;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #d29438;
}
.sessao-banner a.btn-home {
    background: #d29438;
    padding: 6px 10px;
    color: #fff;
    text-transform: none;
    text-decoration: none;
    border-radius: 8px;
}
.sessao-banner a.btn-whatsapp-home {
    background: #25d366;
    padding: 6px 10px;
    border-radius: 8px;
    color: #fff;
    text-transform: none;
    text-decoration: none;
}
main.main-content .sessao-banner h2 {
    font-size: 45px;
    padding-bottom: 11px;
    margin: 13px 0 0 0;
    text-transform: uppercase;
    letter-spacing: 1px
}

}
@media screen and (max-width: 768px) {
    .banner-home {
    margin-top: 13px;
    }
}
